body {
  background-color: #c4ccd5;
}
table {
  color: #a2acb7;
  text-align: center;
  border-collapse: collapse;
  font: normal 3em Arial, Helvetica, sans-serif;
  max-width: 420px;
  width: 90vw;
  margin: 0 auto;
  background-color: #2d3e50;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
tr {
  height: 15vh;
}
td {
  width: 25%;
  border: none;
  padding: 0;
}
#inputBox {
  background-color: #2d3e50;
  text-align: right;
  width: 100%;
  font-size: 1.5em;
  color: pink;
  border: 1px solid #a2acb7;
  border-radius: 15px;
  padding: 0.5em;
  box-sizing: border-box;
  overflow-x: auto;
}
.digitButton {
  border: none;
  background-color: #2d3e50;
}
.operatorButton {
  border: none;
  border-radius: 40px;
  background-color: #37495f;
}
.acButton {
  border: none;
  background-color: #2d3e50;
}
#equals {
  background-color: pink;
  color: #2d3e50;
}
