table {
  color: #fff;
  text-align: center;
  border-collapse: collapse;
  font: normal 3em Arial, Helvetica, sans-serif;
}
tr {
  height: 16.02vh;
  background-color: #4e494d;
}
td {
  width: 25vw;
  border: 1px solid #4e494d;
}
#inputBox {
  background-color: #f2f4f7;
  text-align: right;
  width: 100%;
  font-size: 2em;
  color: #020205;
  border: 0px;
}
.digitButton {
  background-color: #111f4d;
}
.operatorButton {
  background-color: #e43a19;
}
.acButton {
  background-color: #020205;
}
